/* .Coronavirus {
  background-color: rgb(191, 209, 25);
}

ul li {
  border-radius: 15px 50px;
  background: #73ad21;
  padding: 20px;
  width: 300px;
  height: 250px;
  float: left;
}
 */
ul li {
  float: left;
}

.Coronavirus{
  text-align: center;
  /*color: aliceblue;*/
}
